# Git
.git
.gitignore

# GitHub
.github/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Editor / OS junk
.DS_Store
.idea/
.vscode/

# Docs & misc
README.md
CHANGELOG.md

# Grafana dashboards (not needed in runtime image)
grafana/

# Docker / Compose
docker-compose.yml
.env
.env.example
